<form #f="ngForm" (ngSubmit)="onSubmit(f)" class="add-task" action="post">
	<div class="form-control">
		<label for="text">Task</label>
		<input 
			type="text" 
			[(ngModel)]="text" 
			name="text" 
			id="text" 
			placeholder="Enter task description">
	</div>
	<div class="form-control">
		<label for="date">Due Time</label>
		<input 
			type="text" 
			[(ngModel)]="date" 
			name="date" 
			id="date" 
			placeholder="Enter due time for completion">
	</div>
	<div class="form-control form-control-check">
		<label for="remainder">Reminder</label>
		<input 
			type="checkbox" 
			[(ngModel)]="reminder" 
			name="reminder" 
			id="reminder">
	</div>
	
	<input class="btn btn-block" type="submit" value="Save">

</form>
